footer.footer {
	background-color: var(--bg-primary);
	padding: 30px 150px;
	height: 100px;
	margin-top: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
@media screen and (max-width: 1000px) {
	footer.footer {
		height: 190px;
	}
}
@media screen and (max-width: 600px) {
	footer.footer {
		margin-bottom: 48px;
	}
}
footer.footer .logo {
	font-size: 28px;
	color: var(--text-primary);
}
footer.footer .logo::first-letter {
	color: var(--green);
}
footer.footer p {
	letter-spacing: 2px;
	display: flex;
	align-items: center;
	gap: 5px;
}
footer.footer p img {
	width: 26px;
	animation: spinning 5s infinite linear;
}
footer.footer .social_media {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
}
footer.footer .social_media img,
footer.footer .social_media span {
	font-size: 30px;
	width: 30px;
}
@keyframes spinning {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}
@media (max-width: 1000px) {
	footer.footer {
		padding: 40px 100px;
		flex-direction: column;
		gap: 20px;
		text-align: center;
	}
}
@media (max-width: 600px) {
	footer.footer {
		padding: 40px 10px;
		padding-bottom: 60px;
	}
	footer.footer p {
		font-size: 12px;
	}
}
