@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500&display=swap");

:root {
	--transition-speed: 0.5s;
	scroll-padding-top: 50px;
	scrollbar-width: thin;
	scrollbar-color: var(--font-color-link) #1e1e24;
	--transition: transform 200ms cubic-bezier(0.21, 1.06, 0.81, 1);
	--br: 0.5em;
	--pink: #e31f71;
	--black: #212121;
	--green: #23ce6b;
	--blue: #016fb9;
	--clr-light: rgb(255, 255, 255);
	--clr-secondary: rgb(0, 66, 199);
	--font-color-link: #007deb;
}

body.body.dark {
	--text-primary: #b6b6b6;
	--text-secondary: #ececec;
	--bg-primary: #2b2b2b;
	--bg-secondary: #141418;
	--bg-main: #212121;
	--card-rank: rgba(0, 0, 0, 0.65);
	--card-background: #282e36;
}
body.body {
	--text-primary: #1f1f1f;
	--text-secondary: #000000;
	--bg-primary: #beb8b8;
	--bg-secondary: #e4e4e4;
	--bg-main: #d4d4d4;
	--card-rank: rgba(255, 255, 255, 0.65);
	--card-background: #9ca3aa;
}
body {
	transition: 0.5s;
	font-size: 1rem;
	-webkit-font-smoothing: antialiased;
	background-color: var(--bg-main);
	color: var(--text-secondary);
	scrollbar-width: thin;
	scrollbar-color: var(--font-color-link) #1e1e24;
}
.not-found {
	height: calc(100vh - 150px);
}
body,
input,
textarea,
button {
	font-family: "Red Hat Display", sans-serif;
}
main {
	position: relative;
	z-index: 0;
	margin-left: 5rem;
	padding: 0px 1rem;
	overflow-x: hidden;
}
body::-webkit-scrollbar {
	width: 0.25rem;
}
body::-webkit-scrollbar-track {
	background-color: #1e1e24;
}
body::-webkit-scrollbar-thumb {
	background-color: var(--font-color-link);
}
section {
	margin-top: 100px;
	min-height: calc(100vh - 250px);
}
main #tsparticles {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}
@media (max-width: 600px) {
	main {
		margin: 0;
		padding: 0 2rem;
	}
	.not-found {
		height: calc(100vh - 288px);
	}
}
@media (max-width: 360px) {
	main {
		padding: 0 2rem;
	}
}
.fa-primary {
	color: #ff7eee;
}

.fa-secondary {
	color: #df49a6;
}

.fa-primary,
.fa-secondary {
	transition: var(--transition-speed);
}
.theme_icon {
	display: none;
}
